.dropdown-item{ 
    white-space:normal; 
  

}

.dropdown-menu { 
    
    max-height: 300px; 
    max-width: 300px;
    overflow-y: auto; 
    min-width: 300px !important; 
    background-attachment: local, local, scroll, scroll; 
}

:host {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.not1{
    background: #ec5252;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    position: absolute;
    font-size: .9rem;
    margin: 0 0 0 -.2rem;
    top: 0;
    left: 60%;
    padding-right: .5em;
    padding-left: .5em;
    font-family: sans-serif;
    border-radius: 100%;
}
.not2{
    background: #ec5252;
    display: inline-block;
    position: absolute;
    font-size: .9rem;
    margin: 0 0 0 -.2rem;
    top: 20%;
    left: 60%;
    border-radius: 50%;
    height: .9em;
    width: .9em;
}