<div class="background-overlay py-5">
    <div class="container">
      <div class="row">
          <div class="col text-left">
              <h2>GePROYS</h2>
			  <p style="text-align:center;  text-align:justify;">
  								GePROYS nace con la idea de que en la actualidad, el trabajo en equipo es indispensable para las distintas actividades que se lleva a cabo día a día. 
								  Lo vemos en el trabajo, en la escuela o la cotidianidad de la vida. Y es que el ser humano es un ente sociable que tiende a colaborar de otros 
								  en ciertas situaciones. Desafortunadamente, esta colaboración no siempre es buena. Muestra un estudio de campo que más del 60% de las personas 
								  que han trabajado en equipo o estado en uno, han presentado al menos alguna clase de problema, siendo la falta de organización la causa más común 
								  entre los encuestados. 
  								Es de aquí que tomando en consideración las necesidades de un mercado el cual necesaria organizar nace la plataforma GePROYS, una herramienta para 
								  que los equipos de trabajo que desarrollan proyectos, administren las distintas tareas que puedan llegar a tener los integrantes del mismo, todo 
								  esto bajo conceptos e ideas de la metodología SCRUM; Una herramienta tan capaz y tan apta como para que tenga usos profesionales, y tan fácil y 
								  intuitiva de usar para tener usos escolares.
  				</p>
          </div>
		  <div class="d-flex justify-content-center" style="margin-top: 2.5em; margin-left: 0rem;">
		  	<img src="../../../assets/img/Logo.jpeg"
  							width="200"
     						height="200">
		  </div>
      </div>
    </div>
	

	<div class="container">
      <div class="row">
	  		<div class="d-flex justify-content-center" style="margin-top: 5rem;">
		  		<img src="../../../assets/img/SCRUM.png"
  							width="450"
     						height="200">
		  </div>
          <div class="col text-right">
              <h2>SCRUM</h2>
			  <p style="text-align:center;  text-align:justify;">
  								Scrum es una de las metodologías agiles más ocupadas hoy en día. Su facilidad de uso, así como la adaptabilidad que tiene esta frente a muchas 
								situaciones, la hace una técnica muy valiosa para los equipos de desarrollos de proyectos de distinta índole, haciendo hincapié en aquellos equipos 
								que desarrollan software. El alma de Scrum son los Sprint, que son lapsos de trabajo, generalmente de un mes, donde los equipos se proponen a 
								entregar un avance del producto final y al final de este tiempo, se analiza los objeticos alcanzados y los objetivos por lograr. También existen 
								los Daily Sprint, que son reuniones diarias de los equipos para mantenerse al tanto del estado actual del proyecto.
  								Son estas ideas las que hacen que los equipos que usen Scrum, o conceptos basados en Scrum que sean equipos autosustentables, 
								  donde no existe una líder porque no lo necesita y el ambiente de trabajo es desafiante y ameno para los integrantes
  				</p>
          </div>
      	</div>
    </div>

	<br>	

	<div class="container">
      	<div class="row">
          	<div class="col text-center">
              <h2>El Equipo</h2>
			  <p style="text-align:center;  text-align:justify;">
  								El Equipo detrás de la herramienta GEPROYS en un grupo conformado por alumnos de la Escuela Superior de computación, la cual forma parte del 
								  Instituto Politécnico Nacional, una de las más prestigiosas casas de estudios de México, estudiando la Carrera de ingeniería en Sistemas 
								  Computacionales, por lo que este proyecto funge como proyecto terminal para acreditar la carrera y corroborar los conocimientos adquiridos 
								  durante la carrera.
  				</p>
          </div>
		</div>
		<div class="row">
		  <div class="col text-center">
		  	<img src="../../../assets/img/Equipo.jpg"
  							width="275"
     						height="150">
		  	</div>
      	</div>
    </div>
</div>