
<div class="container">
    <p>invitaciones works!</p>
    <input type="text" disabled>
<!--     <div id="datosForm">
        Hola<h1>{{datosForm?.email}}</h1>  te han invitado a participar al proyecto <h1>{{datosForm?.projectId}}</h1> con el rol <h1>{{datosForm?.rol}}</h1> 
    </div> --> 
    <div id="salida">
        Hola<h1>{{salida?.emailDes}}</h1>  te han invitado a participar al proyecto <h1>{{salida?.proDes}}</h1> con el rol <h1>{{salida?.rolDes}}</h1> nombre <h1>{{salida?.nombre}}</h1>
    </div> 
    <div>
        <button type="button" class="btn btn-success">Success</button>
    </div>
</div>